<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card shadow rounded">
            <div class="card-body">
              <%= simple_form_for [@user, @subject ] do |f| %>
                <%= f.input :codigo, class:"rounded"%>
                <%= f.input :nombre, class:"rounded"%>
                <%= f.submit "Enviar", class:"btn btn-primary shadow"%>
              <%end%>
            </div>
          </div>
    </div>
</div>