<div class="card rounded shadow mt-2">
  <div class="card-body">
    <h3 class="font-weight-bold"> <%= post.titulo%></h3>
    <p class=""><%= post.contenido%></p>
    <p class=""><%= post.fecha%></p>
  </div>
</div>
