<h3 class="text-center mt-5">Datos de la anotación</h3>

<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card shadow-lg">
            <div class="card-body">
                <div class="box">
                    <h4><strong>Fecha: </strong> <%= @report.fecha %> </h4>
                    <p><strong>Título: </strong> <%= @report.titulo %> </p>
                    <p><strong>Contenido: </strong> <%= sanitize @report.contenido %> </p>
                    <%= link_to "Editar", edit_user_report_path(@user, @report), class: "btn btn-warning btn-block" %>
                </div>
            </div>
        </div>
    </div>
</div>
